.personal {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
}

.personal span {
  margin-left: 10px;
}

.personalLeft {
  width: 35%;
}

.image {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.image img {
  width: 100%;
}

.editor {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
}

.editor:hover {
  opacity: 1;
  cursor: pointer;
}

.editor input {
  display: none;
}

.editor label {
  display: block;
  width: fit-content;
  margin: auto;
  color: #fff;
  cursor: pointer;
}

.rank {
  display: flex;
}

.rank div {
  font-size: 25px;
  display: flex;
  align-items: center;
}

.rank div:first-child {
  margin-right: 20px;
}

.rank img {
  width: 45px;
  height: 45px;
  margin-left: 7px;
}

.info {
  width: 55%;
}

.name {
  font-size: 3rem;
  font-weight: bold;
}

.name span:nth-child(2) {
  margin-right: 20px;
}

.name,
.email,
.tel {
  margin-bottom: 20px;
}

.email,
.tel,
.wallet {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.email strong,
.tel strong,
.wallet strong {
  margin-left: 20px;
}

.payments {
  display: flex;
  align-items: center;
}

.payments div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.payments button {
  margin-left: 10px;
  background-color: transparent;
  outline: 0;
  font-size: 3rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: #4d220e;
}

.payments button:active {
  transform: scale(0.94);
}

.userInfo {
  margin-bottom: 100px;
}

.userInfo h2 {
  margin-bottom: 20px;
}

.edit {
  cursor: pointer;
}

.edit span {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.notEmpty {
  text-align: center;
  padding-top: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 100px;
}

.desk {
  margin-top: 20px;
  width: 100%;
  font-size: 25px;
  word-break: break-all;
}
