.task {
  height: 400px;
  width: 272px;
  margin-right: 50px;
  margin-bottom: 50px;
  background: url("../../assets/images/list-pregament.png") center center /
    contain no-repeat;
  padding: 70px 45px;
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 25px;
}

.task:hover {
  transform: translateY(-25px);
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.5);
}

.task h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

.desk {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
}
