 .main{
    display: flex;
}
/*
.users{
    color: white;
}
.list{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 10px;
    border-bottom: 1px solid white;
    max-height: 100%;
    cursor: pointer;
}
.list:hover{
    background-color: rgb(111, 105, 105);
}
.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.contain{
    background-color: white;
    max-height: 100%;
    width: 600px;
    margin-left: 50px;
    border: 4px solid burlywood;
    position: relative;
}
.bot{
   bottom: 0;
   position: absolute;
   display: flex;
   margin-bottom: 5px;

}
.bot textarea{
    width: 450px;
    border: 2px solid blue;
    height: 50px;
    max-width: 500px;
    margin-right: 10px;
}
.bot button{
    background-color: blue;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 10%;
    cursor: pointer;
} */
.name{
    color: white;
    width: 150px;
    cursor: pointer;
    margin-right: 20px;
}
.name:hover{
    background-color: rgb(48, 44, 44);
}
.chat{
    border: 1px solid white;
    width: 500px;
    height: 500px;
    padding: 10px;
    color: white;
}
.nameUser{
    color: white;
    width: 150px;
    cursor: pointer;
    margin-right: 20px;
}
.chatSender{
    display: flex;
}
.messageOwn{
    background-color: blue;
    margin-top: 20px;
    margin-right: 0;
    width: 200px;
}
.message{
    background-color: orange;
    margin-top: 20px;
    margin-right: 0;
    width: 200px;
}