.userCard {
  padding: 40px 20%;
  display: flex;
  height: 300px;
  background: url("../../assets/images/svitok1.png") center center / contain
    no-repeat;
  margin-bottom: 70px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  font-size: 30px;
  align-items: center;
}

.userCard:hover {
  transform: scale(1.1);
}

.image {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.image img {
  width: 100%;
  height: 100%;
}

.data,
.rating {
  margin-right: 30px;
}

.data span:first-child {
  margin-right: 10px;
}

.rating span:first-child {
  margin-right: 10px;
}

.btn span:first-child {
  margin-right: 20px;
}

.rangWrapper {
  display: flex;
}

.rangsIconWrapper {
  width: 40px;
}