@font-face {
  font-family: "PlayfairDisplay";
  src: url("../assets/fonts/PlayfairDisplay-Bold.eot");
  src: url("../assets/fonts/PlayfairDisplay-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/PlayfairDisplay-Bold.woff") format("woff"),
    url("../assets/fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../assets/fonts/PlayfairDisplay-Medium.eot");
  src: url("../assets/fonts/PlayfairDisplay-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/PlayfairDisplay-Medium.woff") format("woff"),
    url("../assets/fonts/PlayfairDisplay-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../assets/fonts/PlayfairDisplay-Regular.eot");
  src: url("../assets/fonts/PlayfairDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/PlayfairDisplay-Regular.woff") format("woff"),
    url("../assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

body {
  font-family: "PlayfairDisplay", sans-serif;
  font-size: 18px;
  background: url("../assets/images/J-Line-digital-1829037-wallhere.com.jpg")
    center center fixed no-repeat;
  background-size: cover;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.mainContainer {
  min-height: 1500px;
  background: url("../assets/images/board-bg.jpg");
  border: 10px outset #f8b700;
  padding: 50px 0;
}

a {
  text-decoration: none;
  color: #000;
}
