.wrapper {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  padding-top: 100px;
  list-style: none;
  background: url("../../../assets/images/pergament.png") center top / contain
    no-repeat;
  width: 25%;
  min-height: 700px;
  text-align: center;
  font-size: 25px;
}

.sidebar li {
  margin-bottom: 15px;
  font-weight: bold;
}

.link {
  transition: all 0.3s ease;
}

.link:hover {
  color: #a86d00;
}

.active {
  color: #a86d00;
}

.content {
  width: 70%;
  min-height: 1000px;
  background: url("../../../assets/images/paper_sheet_PNG7231.png") center
    center no-repeat;
  background-size: 90% 100%;
  padding: 0 10%;
  padding-top: 30px;
}

.personal {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

.personal span {
  margin-left: 10px;
}

/* .personal div:first-child {
  width: 30%;
} */

.image {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin-bottom: 40px;
}

.image img {
  width: 100%;
}

.editor {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
}

.editor:hover {
  opacity: 1;
  cursor: pointer;
}

.editor input {
  display: none;
}

.editor label {
  display: block;
  width: fit-content;
  margin: auto;
  color: #fff;
  cursor: pointer;
}

.rating {
  font-size: 25px;
  display: flex;
  align-items: center;
}

.rating img {
  width: 45px;
  height: 45px;
  margin-left: 7px;
}

.info {
  width: 65%;
}

.name {
  font-size: 3rem;
  font-weight: bold;
}

.name,
.email,
.tel {
  margin-bottom: 20px;
}

.email,
.tel,
.wallet {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.email strong,
.tel strong,
.wallet strong {
  margin-left: 20px;
}

.payments {
  display: flex;
  align-items: center;
}

.payments div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.payments button {
  margin-left: 10px;
  background-color: transparent;
  outline: 0;
  font-size: 3rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: #4d220e;
}

.payments button:active {
  transform: scale(0.94);
}
