.wrapper {
  display: flex;
  justify-content: space-between;
}

.content {
  width: 70%;
  min-height: 1000px;
  background: url("../../../assets/images/paper_sheet_PNG7231.png") center
    center no-repeat;
  background-size: 90% 100%;
  padding: 0 10%;
  padding-top: 30px;
}
