.content {
  display: flex;
  justify-content: space-between;
}

.openBtn {
  transition: all 0.3s ease;
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(
    top,
    #efd100,
    #e2a233 19%,
    #f0c328 30%,
    #fff1a3 43%,
    #ffe13e 50%,
    #fff 51%,
    #fff
  );
  background-size: 1em 2.5em;
  display: inline-block;
  line-height: 1.5em;
  font-size: 2rem;
  cursor: pointer;
  padding-left: 40px;
  width: 350px;
}

.openBtn:hover {
  color: #fff;
  background-position: center 100%;
}

.sidebar {
  width: 25%;
}

.sidebar ul {
  padding-top: 100px;
  list-style: none;
  background: url("../../../assets/images/pergament.png") center top / contain
    no-repeat;
  min-height: 700px;
  text-align: center;
  font-size: 20px;
  position: sticky;
  top: 0;
}

.sidebar ul h2,
li {
  margin-bottom: 15px;
}

.link {
  transition: all 0.3s ease;
}

.link:hover {
  color: #a86d00;
}

.active {
  color: #a86d00;
}

.wrapper {
  width: 70%;
}

.search {
  margin-bottom: 70px;
  background: url("../../../assets/images/pngwing.png") center center / cover
    no-repeat;
  height: 100px;
  width: 70%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  background-size: 120%;
  box-shadow: 0 0 20px 10px #b57b29;
}

.search input {
  outline: 0;
  border: none;
  width: 100%;
  padding: 15px;
}

.search input::placeholder {
  font-size: 25px;
}

.tasks {
  display: flex;
  flex-wrap: wrap;
}

.btnShowMore {
  display: block;
  height: 30px;
}

.btnShowMoreOff {
  display: none;
}

.btnWrapper {
  display: flex;
  justify-content: center;
}
