.content {
  display: flex;
  justify-content: space-between;
}

.openBtn {
  transition: all 0.3s ease;
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(
    top,
    #efd100,
    #e2a233 19%,
    #f0c328 30%,
    #fff1a3 43%,
    #ffe13e 50%,
    #fff 51%,
    #fff
  );
  background-size: 1em 2.5em;
  display: inline-block;
  line-height: 1.5em;
  font-size: 2rem;
  cursor: pointer;
  display: block;
  text-align: right;
  padding-right: 40px;
}

.openBtn:hover {
  color: #fff;
  background-position: center 100%;
}

.content ul {
  padding-top: 100px;
  list-style: none;
  background: url("../../../assets/images/pergament.png") center top / contain
    no-repeat;
  width: 25%;
  min-height: 700px;
  text-align: center;
  font-size: 20px;
}

.content ul h2,
li {
  margin-bottom: 15px;
}

.link {
  transition: all 0.3s ease;
}

.link:hover {
  color: #a86d00;
}

.active {
  color: #a86d00;
}

.tasks {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
