.content {
  width: 95%;
  margin: auto;
}

.content h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

.favourites {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
